.title {
    font-weight: 600;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: center;
}