<div class="">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{card.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="card.pic" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{card.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="flex gap-2" [class.selected]="card.likes >= 5" [class.tenLikes]="card.likes >= 10" mat-button (click)="onLike(card)">LIKE<mat-icon>favorite</mat-icon>
        {{card.likes}}</button>
      <button mat-button (click)="onShare(card.pic)">SHARE<mat-icon>open_in_new</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>

