.example-card {
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}


.selected {
  background-color: #3f51b6;
  color: white;
}

.tenLikes {
  background-color: #e34c26;
  color: white;
}
img {
  aspect-ratio: 1/1;
}